*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    background-color:#f0f4f8;
}
h1{
    text-align: center;
    margin: 20px;
    color: teal;
    
    
}
form{
    max-width: 800px;
    margin: auto;
    background-color: #f0f4f8;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
    
}
fieldset{
    border: 2px solid teal;
     border-radius: 8px;
     padding: 20px;
     margin-bottom: 20px;
     background-color:aliceblue;
}
legend{
    font-weight: bold;
    text-align: left;
    color: black;
    font-size:25px;
}
label{
    display: block;
    margin-top:10px;
    color: #2c3e50;

}
input,textarea{
    width:calc(100% - 1px);
    padding:8px;
    margin-top: 4px;
    border : 1px solid rgb(6, 182, 182);
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: teal;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:5px;
    font-size:18px;

}
button:hover{
    background-color: rgb(3, 53, 53);
    
}
#resumeOutput{
    max-width: 800px;
    margin: auto;
    background-color: #f0f4f8;
    border: 2px solid teal;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
    
}
#resumeOutput h2{
    color:teal;
}
.preview{
    display: flex;
    flex-direction: column;
    gap: 50px;
}